@model MVC_CRUD_Operation_Practice.Models.Employee

@{
    ViewData["Title"] = "EmployeeDetails";
}

<h1>EmployeeDetails</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeCity)
        </dd>
    </dl>
</div>
<div>
     <a asp-action="Index">Back to List</a>
</div>
